<div class="container">
<input type="text" placeholder="Nome">
  <input type="email" placeholder="Email">
  <input type="tel" placeholder="Telefone">

  <div class="row">
  <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
  <label for="vehicle1"> Quero receber notificações</label><br>
  </div>

  <div class="row">
  <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
  <label for="vehicle1"> Li e aceito os termos de uso</label><br>
  </div>

  <button>Finalizar Cadastro</button>
</div>
