body {
  background: #F1F3F4 no-repeat padding-box;
}

header img {
  width: 224px;
  height: 56px;
}

header {
  top: 0px;
  left: 0px;
  // width: 360px;
  height: 56px;
  /* UI Properties */
  background: #000000 0% 0% no-repeat padding-box;
  opacity: 1;
  text-align: center;
  color:white;
}


h1 {
  margin:0;
  padding:10px 0;
}


